@import "tailwindcss";

/* choose one of the following */

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap'); */
/* @import "flowbite/src/themes/default"; */

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/minimal"; */


/* ENTERPRISE THEME
@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/enterprise";
*/

/* PLAYFUL THEME
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import "flowbite/src/themes/playful";
*/

/* @import "flowbite/src/themes/mono"; */


@plugin "flowbite/plugin";
@source "../../node_modules/flowbite";

@theme inline {

    /* TEXT COLORS */
    /* main text color */
    --color-body: #ebdbb2;
    /* --color-body-subtle: #d5c4a1; */
    --color-body-subtle: #bdae93;
    --color-heading: #fbf1c7;

    /* BORDER COLORS */
    --color-default: #665c54;

    /* BRAND COLORS */
    --color-brand: #fe8019;
    --color-fg-brand-subtle: var(--color-stone-200);
    --color-fg-brand: #fe8019;
    --color-fg-brand-strong: var(--color-stone-900);

    /* COLORS */
    --color-neutral-primary-soft: var(--color-white);
    --color-neutral-primary: #282828;
    --color-neutral-primary-medium: #1d2021;
    --color-neutral-primary-strong: var(--color-white);

    --color-neutral-secondary-soft: var(--color-gray-50);
    --color-neutral-secondary: #3c3836;
    --color-neutral-secondary-medium: var(--color-gray-50);
    --color-neutral-secondary-strong: var(--color-gray-50);
    --color-neutral-secondary-strongest: var(--color-gray-50);

    --color-neutral-tertiary-soft: var(--color-gray-100);
    --color-neutral-tertiary: #504945;
    --color-neutral-tertiary-medium: var(--color-gray-100);

    --color-neutral-quaternary: var(--color-gray-200);
    --color-neutral-quaternary-medium: var(--color-gray-200);

    --color-gray: var(--color-gray-300);



    /* FONTS */
    --font-sans: var(--font-plex-mono);
    --font-mono: var(--font-fira-code);
}

@utility special-a {
    @apply decoration-2 decoration-brand hover:underline;
}

.writing h1, h2, h3, h4, h5, h6 {
    @apply mt-4 tracking-tight font-bold text-heading;
}

.writing h1 {
    @apply text-2xl/tight;
}

.writing h2 {
    @apply text-xl/normal;
}

.writing h3 {
    @apply text-lg/normal;
}

.writing h4, h5, h6 {
    @apply text-base/normal;
}

.writing p {
    @apply mt-4 text-body text-base/snug tracking-tight;
}

.writing a {
    @apply text-fg-brand no-underline decoration-2 hover:underline;
}

.writing blockquote {
    @apply px-4 py-2 mt-4 border-s-4 border-default bg-neutral-secondary;
}

.writing blockquote p {
    @apply my-0 mb-4 last:mb-0 text-base/snug tracking-tight text-heading;
}

.writing blockquote figcaption {
    @apply text-body-subtle text-right mr-4;
}

.writing ul {
    @apply space-y-1 ml-6 text-body list-disc list-outside text-base/snug tracking-tight;
}

.writing ol {
    @apply space-y-1 ml-10 text-body list-decimal list-outside text-base/snug tracking-tight;
}

.writing code {
    @apply  text-sm text-heading bg-neutral-primary-medium px-1 py-0.5;
}

.writing pre {
    @apply p-4 my-4;
}

.writing pre code {
    @apply bg-inherit;
}

.writing hr {
    @apply my-2 border-t-2 border-default;
}

svg rect {
    @apply fill-neutral-primary;
}

svg text {
    @apply fill-body-subtle;
}

svg path {
    @apply stroke-body-subtle;
}
